---
layout: default
title: A resource of Angular 1.x concepts for Angular 2
---

<div class="c-hero">
  <div class="wrapper cf">
    <div class="c-logo">
      <a href="/">
        <img src="/img/blank.gif" alt="">
      </a>
    </div>
  </div>
  <div class="wrapper cf">
    <div class="c-intro">
      <h1>
        Angular 2 migration guide
      </h1>
      <p>
        Convert your Angular 1 knowledge into Angular 2.
      </p>
      <p>
        Select a topic and start learning!
      </p>
      <a href="/" class="c-btn c-btn--primary c-btn--shield">
        Get started
      </a>
    </div>
    <div class="c-editor">
      {% include editor.html %}
    </div>
  </div>
</div>

{% assign author = site.data.authors['toddmottohome'] %}
<div class="c-author">
  <div class="wrapper">
    {% include author.html position="home" %}
  </div>
</div>

{% include migrations.html %}
