<section class="c-tags">
  <div class="c-tags__list wrapper">
    <ul class="cf">
      <li>
        <a href="/bootstrapping">
          <h3>Bootstrapping</h3>
          <div>
            <p>
              Start with the basics, and learn how to bootstrap an Angular 2 application.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/controllers">
          <h3>Controllers</h3>
          <div>
            <p>
              Learn how to migrate controllers across to Angular 2 components.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/modules">
          <h3>Modules</h3>
          <div>
            <p>
              Learn the differences between Angular 1 modules and Angular 2 components.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/components">
          <h3>Components</h3>
          <div>
            <p>
              Learn how to create components, stateful, stateless and routed to render data.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/directives">
          <h3>Directives</h3>
          <div>
            <p>
              Take your Directives with you, learn how to use Directives in Angular 2.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/routing">
          <h3>Routing</h3>
          <div>
            <p>
              Jump into the new Component router for Angular 2 and learn how to navigate your app.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/services">
          <h3>Services</h3>
          <div>
            <p>
              Services are much easier in Angular 2, learn how to create and use them.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/forms">
          <h3>Forms</h3>
          <div>
            <p>
              Dive into Angular 2 forms and build out forms complete with validation.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
      <li>
        <a href="/filters">
          <h3>Filters</h3>
          <div>
            <p>
              Manage your data with filters, learn how to create them the Angular 2 way.
            </p>
            <button type="button" class="c-btn c-btn--bottom">
              View guides
            </button>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
