<div class="code-editor">
<pre class="editor">
<span class="line">&nbsp;</span>
<span class="line">1</span><span class="blue">import</span> {Component} <span class="blue">from</span> <span class="green">'@angular/core'</span>;</span>
<span class="line">2</span>
<span class="line">3</span>@Component({
<span class="line">4</span>  selector: <span class="green">'my-app'</span>,
<span class="line">5</span>  styles: [<span class="green">`.app { background: #f9f9f9; }`</span>],
<span class="line">6</span>  template: <span class="green">`</span>
<span class="line">7</span>    <span class="green">&lt;div class="app"&gt;</span>
<span class="line">8</span>      <span class="green">Hello world!</span>
<span class="line">9</span>    <span class="green">&lt;/div&gt;</span>
<span class="line">10</span>  <span class="green">`</span>
<span class="line">11</span>})
<span class="line">12</span><span class="yellow">export class</span> <span class="orange">AppComponent</span> {
<span class="line">13</span>  <span class="yellow">constructor</span>() {
<span class="line active">14</span>    <span class="active"><span class="active-prompt"></span></span>
<span class="line">15</span>  }
<span class="line">16</span>}
<span class="line">&nbsp;</span>
</pre>
</div>
