<footer class="c-footer">
  <div class="wrapper">
    <div class="c-footer__main">
      <ul class="cf">
        <li>
          <h3>
            Topics
          </h3>
          <ul>
            <li>
              <a href="/bootstrapping">
                Bootstrapping
              </a>
            </li>
            <li>
              <a href="/controllers">
                Controllers
              </a>
            </li>
            <li>
              <a href="/modules">
                Modules
              </a>
            </li>
            <li>
              <a href="/components">
                Components
              </a>
            </li>
            <li>
              <a href="/directives">
                Directives
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h3>
            More topics
          </h3>
          <ul>
            <li>
              <a href="/routing">
                Routing
              </a>
            </li>
            <li>
              <a href="/services">
                Services
              </a>
            </li>
            <li>
              <a href="/forms">
                Forms
              </a>
            </li>
            <li>
              <a href="/filters">
                Filters
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h3>
            New articles
          </h3>
          <div class="c-footer__signup">
            <p>
              Drop your email in and get notified when new articles drop.
            </p>
            <div id="mc_embed_signup">
            <form action="//toddmotto.us12.list-manage.com/subscribe/post?u=fb4d73e892f0d123a57dbd8bc&amp;id=a6d1ff9c54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate cf" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                	<input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <i class="material-icons">&#xE7F4;</i> Notify me
                  </button>
                </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fb4d73e892f0d123a57dbd8bc_a6d1ff9c54" tabindex="-1" value=""></div>
                  <div class="clear">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="c-footer__lower">
    <div class="wrapper">
      <div class="c-footer__logo">
        <a href="http://www.telerik.com/kendo-ui">
          <img src="/img/blank.gif" alt="Kendo UI by Progress">
        </a>
      </div>
      <p>
        &copy; Progress Software Corporation and/or its subsidiaries or
        affiliates {{ site.time | date: '%Y' }}. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
