<nav class="nav is-fixed">
  <div class="wrapper cf">
    <a href="{{ "/" | prepend: site.baseurl }}" class="nav__item {% if page.url == '/' %}is-active{% endif %}">
      Home
    </a>
    <a href="{{ "/topics/" | prepend: site.baseurl }}" class="nav__item {% if page.url == '/topics' %}is-active{% endif %}">
      Topics
    </a>
    <a href="https://github.com/ngmigrate/ngmigrate.github.io/blob/master/CONTRIBUTING.md" class="nav__item">
      Contribute <i class="material-icons">&#xE895;</i>
    </a>
    <a href="https://github.com/ngmigrate/ngmigrate.github.io" target="_blank" class="nav__item">
      GitHub <i class="material-icons">&#xE895;</i>
    </a>
    <a href="{{ "/" | prepend: site.baseurl }}" class="nav__logo">
      <img src="/img/blank.gif" alt="">
    </a>
  </div>
</nav>
