<section class="c-topics__links">
  <h1>
    Topics
  </h1>
  <ul class="tags">
    <li>
      <a href="/bootstrapping" class="{% if page.url == '/bootstrapping' %}is-active{% endif %}">
        Bootstrapping
      </a>
    </li>
    <li>
      <a href="/controllers" class="{% if page.url == '/controllers' %}is-active{% endif %}">
        Controllers
      </a>
    </li>
    <li>
      <a href="/modules" class="{% if page.url == '/modules' %}is-active{% endif %}">
        Modules
      </a>
    </li>
    <li>
      <a href="/components" class="{% if page.url == '/components' %}is-active{% endif %}">
        Components
      </a>
    </li>
    <li>
      <a href="/directives" class="{% if page.url == '/directives' %}is-active{% endif %}">
        Directives
      </a>
    </li>
    <li>
      <a href="/routing" class="{% if page.url == '/routing' %}is-active{% endif %}">
        Routing
      </a>
    </li>
    <li>
      <a href="/services" class="{% if page.url == '/services' %}is-active{% endif %}">
        Services
      </a>
    </li>
    <li>
      <a href="/forms" class="{% if page.url == '/forms' %}is-active{% endif %}">
        Forms
      </a>
    </li>
    <li>
      <a href="/filters" class="{% if page.url == '/filters' %}is-active{% endif %}">
        Filters
      </a>
    </li>
  </ul>
</section>
