{% include title.html %}
<section class="c-topics">
  <div class="wrapper">
    <div class="c-topics__items">
      {% include topics.html url=page.url %}
      <div class="c-topics__list">
        <ul class="c-topics__list-none" style="display: none;">
          <li>
            No posts here just yet, sign up to get notified of new articles.
          </li>
        </ul>
        <ul class="c-topics__list-items">
        {% for post in site.posts %}
          {% if post.tags contains {{include.tag}} %}
          {% assign author = site.data.authors[post.author] %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                <h2>
                  {{ post.title }}
                </h2>
                <div class="c-topics__preview">
                  {{ post.content | strip_html | truncatewords: 50 }}
                </div>
                <div class="c-topics__meta">
                  <span>
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                      <i class="material-icons">&#xE916;</i>
                      {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                  </span>
                  <span>
                    <i class="material-icons">&#xE7FD;</i>
                    {{ author.name }}
                  </span>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<script>
(function () {
  var posts = document.querySelectorAll('.c-topics__list-items li');
  if (!(posts && posts.length)) {
    document.querySelector('.c-topics__list-none').style.display = 'inherit';
  }
})();
</script>
