/* ==========================================================================
   Header
   ========================================================================== */
.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  width: 96%;
  &--medium {
    max-width: 800px;
  }
}
.c-header {
  padding: 5rem 2.5rem;
  background: lighten($secondary, 2%) url('../img/kendoka/2.svg') no-repeat 100% 0;
}
.c-hero {
  text-align: center;
  background: $secondary;
  padding: 70px 0 0;
  .index & {
    padding: 10rem 0 0;
    background: $secondary url("../img/kendoka/1.svg") no-repeat 0px 100%;
    background-size: 150px 150px;
  }
}
.c-intro {
  text-align: right;
  color: #fff;
  float: left;
  width: 50%;
  padding: 25px 25px 0 0;
  h1 {
    margin: 25px 0 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  p {
    margin: 5px 0;
  }
  a.c-btn {
    margin-top: 15px;
  }
}
.c-editor {
  width: 50%;
  float: right;
}
.c-logo {
  margin: 25px 0;
  img {
    margin: 0;
    width: 260px;
    height: 80px;
    background: url('../img/logo.png') no-repeat 0 0;
    .svg & {
      background: url('../img/logo.svg') no-repeat 0 0;
      background-size: 260px 80px;
    }
  }
  a {
    display: inline-block;
    margin: 0;
  }
}
.c-header__title {
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: $c__white;
  &:after {
    margin-left: .5rem;
    color: rgba($primary, 1);
    content: '¬';
  }
  span {
    color: rgba(#fff, .5);
  }
}

pre.editor {
  text-align: left;
    position: relative;
    color: #ddd;
    background: #1d1f21;
    padding: 0;
    border-radius: 4px 4px 0 0;
    margin-top: 2.6em;
    font-family: Menlo,Menlo-Regular,Inconsolata,Monaco,monospace;
    font-size: 13px;
    line-height: 1.2em
}

pre.editor:after {
    display: block;
    content: "";
    position: absolute;
    top: -1.6em;
    bottom: 0;
    left: 0;
    right: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 25px 0 #aaa
}

pre.editor:before {
    display: block;
    position: absolute;
    text-align: center;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ccc;
    background-image: -webkit-linear-gradient(top,#ddd,#aaa);
    background-image: -moz-linear-gradient(top,#ddd,#aaa);
    line-height: 1.8em;
    height: 1.8em;
    top: -1.8em;
    left: -1px;
    right: -1px;
    font-family: Lucida Grande,sans-serif;
    font-size: 12px;
    color: #3a3a53;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    border: 1px solid rgba(110,110,110,0.3)
}

pre.editor {
  .line {
    display: inline-block;
    text-align: right;
    padding: 0 10px;
    margin: 0 15px 0 0;
    background: #35383c;
    width: 50px;
    color: #848888;
    &.active {
      border-left: 2px solid #e9c062;
      background: #46494c;
      color: #babdbb;
    }
  }
  .blue {
    color: #96cbfe;
  }
  .green {
    color: #a6fc5e;
  }
  .yellow {
    color: #cfcb90;
  }
  .orange {
    color: #ffd2a7;
  }
}

.active-prompt {
    -webkit-animation-name: blink;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-name: blink;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease
}

.active-prompt:after {
    content: '|';
    color: #FFF
}

@keyframes 'blink' {
  0% {opacity: 1.0}
  50% {opacity: .0}
  100% {opacity: 1.0}
}

@-webkit-keyframes 'blink' {
  0% {opacity: 1.0}
  50% {opacity: .0}
  100% {opacity: 1.0}
}

.c-tags {
  margin: 70px 0;
  &__title {
    text-align: center;
    margin: 0 0 35px;
    h1 {
      margin: 0 0 10px;
      font-size: 26px;
    }
  }
  &__list {
    ul {
      list-style: none;
      overflow: hidden;
    }
    li {
      float: left;
      width: 32%;
      margin: 0 10px 10px 0;
      &:last-child {
        margin: 0;
      }
      a {
        overflow: hidden;
        border-radius: 3px;
        background: $secondary;
        display: block;
        color: #fff;
      }
      div {

      }
      p {
        padding: 25px 15px;
        font-size: 14px;
      }
      h3 {
        font-size: 20px;
        font-weight: 400;
        background: $primary url('../img/btn-shield.png') no-repeat 15px 11px;
        background-size: 22px 22px;
        padding: 10px 10px 10px 50px;
      }
    }
  }
}
.c-author {
  background: darken($secondary, 2%);
}
.c-topics {
  background: #f1f2f1;
  padding: 55px 0;
  &__items {
    display: table;
  }
  &__preview {
    margin: 25px 0;
  }
  &__meta {
    padding: 25px 0 0;
    font-size: 12px;
    border-top: 1px solid #efefef;
    i {
      font-size: 16px;
    }
    span {
      border: 1px solid #e5e5e5;
      letter-spacing: 2px;
      border-radius: 50px;
      position: relative;
      padding: 8px 10px 8px 40px;
      margin: 0 10px 0 0;
      i {
        color: lighten($secondary, 50%);
        position: absolute;
        top: 6px;
        left: 15px;
      }
    }
  }
  &__links {
    min-width: 350px;
    display: table-cell;
    vertical-align: top;
    padding: 0 45px 0 0;
    h1 {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      background: $primary url('../img/btn-shield.png') no-repeat 15px 11px;
      background-size: 22px 22px;
      padding: 10px 10px 10px 50px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background: $secondary;
      overflow: hidden;
      li {
        border-bottom: 1px solid darken($secondary, 2%);
        &:last-child {
          border-bottom: 0;
        }
        a {
          position: relative;
          background: transparent;
          color: #fff;
          display: block;
          padding: 15px 20px;
          transition: all 0.2s ease-in-out;
          transition-property: background-color, color;
          &.is-active,
          &:hover {
            color: $primary;
            background: lighten($secondary, 4%);
            &:after {
              color: $primary;
            }
          }
          &.is-active {
            background: lighten($secondary, 4%);
            background-image: url('../img/kendoka/2.svg');
            background-repeat: no-repeat;
            background-position: 80% 0;
            background-size: 50px 50px;
            &:hover {
              background: lighten($secondary, 4%);
              background-image: url('../img/kendoka/2.svg');
              background-repeat: no-repeat;
              background-position: 80% 0;
              background-size: 50px 50px;
            }
          }
          &:after {
            transition: color 0.2s ease-in-out;
            color: #777;
            content: '\E8E4';
            font-family: 'Material Icons';
            position: absolute;
            top: 17px;
            right: 15px;
          }
        }
      }
    }
  }
  &__list {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding: 0;
    ul {
      list-style: none;
      margin: 0;
      li {
        margin: 0 0 45px 0;
        position: relative;
        &:last-child {
          margin-bottom: 45px;
        }
        &:nth-child(odd) {
          a {

          }
        }
        a {
          color: $secondary;
          background: #fff;
          display: block;
          padding: 25px;
          transition: color 0.2s ease-in-out;
        }
        h2 {
          font-weight: 400;
          font-size: 26px;
          border-left: 4px solid #f76a28;
          margin: -25px -25px 25px -25px;
          padding: 15px 25px;
          background: #2e3134;
          color: #fff;
        }
      }
    }
  }
}
.single {
  background: #f1f2f1;
  padding: 30px 0;
  &__migrate {
    padding: 15px 55px;
    background: #0273D4 url(../img/icons/angular.svg) no-repeat 40px 0;
    background-size: 80px 80px;
    color: #fff;
    margin: 0 -55px 0;
    p {
      font-family: 'Museo Slab', 'Helvetica Neue', Helvetica, sans-serif;
      margin: 15px 0 15px 75px !important;
      span {
        font-weight: 900;
      }
    }
  }
  &__author {
    position: relative;
    padding: 25px;
    display: table;
    background: #fff;
    border-top: 30px solid #f1f2f1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $primary;
      width: 100%;
      height: 2px;
    }
    .index & {
      background: darken($secondary, 2%);
      color: #fff;
      &:before {
        display: none;
      }
      img {
        border-color: lighten($secondary, 4%);
      }
    }
    ul {
      margin: 0 !important;
      list-style: none !important;
    }
    p {
      margin: 15px 0;
    }
    &--home {
      border-top: 0;
      background: darken($secondary, 2%);
    }
    &--top {
      margin: -55px -55px 0px;
    }
    &--bottom {
      margin: 55px -55px 45px;
    }
    &-links {
      ul {
        list-style: none;
        li {
          float: left;
          width: 20px;
          margin: 0 10px 0 0;
          i {
            font-size: 26px;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
    &-img {
      min-width: 120px;
      vertical-align: top;
      display: table-cell;
      img {
        vertical-align: bottom;
        border-radius: 50%;
        border: 5px solid #e5e5e5;
      }
    }
    &-desc {
      width: 100%;
      vertical-align: top;
      display: table-cell;
      padding: 0 0 0 25px;
      h3 {
        color: $primary;
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
  &__meta {
    padding: 45px 0 25px 0;
    font-size: 12px;
    i {
      font-size: 16px;
    }
    a,
    span {
      color: #444;
      display: inline-block;
      border: 1px solid #e5e5e5;
      letter-spacing: 2px;
      border-radius: 50px;
      position: relative;
      padding: 8px 10px 8px 40px;
      margin: 0 10px 0 0;
      i {
        transition: all 0.2s ease-in-out;
        color: lighten($secondary, 30%);
        position: absolute;
        top: 8px;
        left: 15px;
      }
    }
    a {
      margin: 0;
      float: right;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #fff;
        background: $secondary;
        border-color: 1px solid darken($secondary, 10%);
        i {
          color: $primary;
        }
      }
    }
    &-info {
      float: left;
    }
  }
  &__content {
    .linkjuice {
      color: #444;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $primary;
      }
      position: relative;
      &-icon {
        position: absolute;
        right: 100%;
        display: block;
        opacity: .32;
        padding-right: 15px;
        font-size: 65%;
        top: 0px;
      }
    }
    h2 {
      font-size: 30px;
      font-weight: normal;
      border-top: 30px solid #f1f2f1;
      margin: 55px -55px;
      padding: 55px 0 0 55px;
      .linkjuice-icon {
        top: 6px;
      }
    }
    h3 {
      font-weight: normal;
      margin: 25px 0;
    }
    background: #fff;
    padding: 55px;
    p {
      margin: 15px 0;
    }
  }
  &__comments {
    margin: 55px 0 0;
  }
}
.contents {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Museo Slab', 'Helvetica Neue', Helvetica, sans-serif;
    li {
      position: relative;
      counter-increment: item;
      padding: 12px 10px 12px 55px;
      a {
        color: #444;
      }
      &:before {
        opacity: 0.4;
        font-family: 'Material Icons';
        content: '\E157';
        position: absolute;
        top: 7px;
        left: 0;
        padding: 0 10px;
        color: $primary;
        font-size: 20px;
      }
      ul {
        li {
          a {
            transition: all 0.2s ease-in-out;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

blockquote {
  // background: url(../img/icons/quote.svg) no-repeat 50px -20px;
  background-size: 100px 100px;
  font-family: 'Museo Slab', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin: 55px 0;
  color: #888;
  border: none;
  padding: 0 20%;
  text-align: left;
}
