<!doctype html>
<html class="t-{{ site.theme }}">
  {% include head.html %}
  <body class="{% if page.url == '/' %}index{% endif %}">
    {% include navigation.html %}
    <div>
      {{ content }}
    </div>
    {% include footer.html %}
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-6X92');
    </script>
  </body>
</html>
